<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShejizhanshiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Shejizhanshi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shejibianhao" jdbcType="VARCHAR" property="shejibianhao" />    <result column="shejimingcheng" jdbcType="VARCHAR" property="shejimingcheng" />    <result column="mobanleixing" jdbcType="VARCHAR" property="mobanleixing" />    <result column="shejihuitu" jdbcType="VARCHAR" property="shejihuitu" />    <result column="shejishuoming" jdbcType="VARCHAR" property="shejishuoming" />    <result column="shejishi" jdbcType="VARCHAR" property="shejishi" />    <result column="jiage" jdbcType="VARCHAR" property="jiage" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shejibianhao,shejimingcheng,mobanleixing,shejihuitu,shejishuoming,shejishi,jiage, addtime
  </sql>
  <select id="quchongShejizhanshi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shejizhanshi 
    where shejibianhao = #{shejibianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from shejizhanshi  where 1=1
    <if test="shejibianhao!=null">and shejibianhao like  concat('%',#{shejibianhao,jdbcType=VARCHAR},'%')</if>     <if test="shejimingcheng!=null">and shejimingcheng like  concat('%',#{shejimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="mobanleixing!=null">and mobanleixing like  concat('%',#{mobanleixing,jdbcType=VARCHAR},'%')</if>     <if test="shejihuitu!=null">and shejihuitu like  concat('%',#{shejihuitu,jdbcType=VARCHAR},'%')</if>     <if test="shejishuoming!=null">and shejishuoming like  concat('%',#{shejishuoming,jdbcType=VARCHAR},'%')</if>     <if test="shejishi!=null">and shejishi like  concat('%',#{shejishi,jdbcType=VARCHAR},'%')</if>     <if test="jiage1!=null">and jiage &gt;=  concat('',#{jiage1,jdbcType=VARCHAR},'')</if>     <if test="jiage2!=null">and jiage &lt;=  concat('',#{jiage2,jdbcType=VARCHAR},'')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shejizhanshi  where 1=1
    <if test="shejibianhao!=null">
    and shejibianhao =#{shejibianhao}
    </if>
  </select>
  
  <select id="getsyshejizhanshi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shejizhanshi  where 1=1
    limit 0,5
  </select>
  <select id="getsyshejizhanshi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shejizhanshi  where 1=1
    limit 0,5
  </select>
  <select id="getsyshejizhanshi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shejizhanshi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from shejizhanshi where 1=1 
     <if test="shejibianhao!=null">and shejibianhao like  concat('%',#{shejibianhao,jdbcType=VARCHAR},'%')</if>     <if test="shejimingcheng!=null">and shejimingcheng like  concat('%',#{shejimingcheng,jdbcType=VARCHAR},'%')</if>     <if test="mobanleixing!=null">and mobanleixing like  concat('%',#{mobanleixing,jdbcType=VARCHAR},'%')</if>     <if test="shejihuitu!=null">and shejihuitu like  concat('%',#{shejihuitu,jdbcType=VARCHAR},'%')</if>     <if test="shejishuoming!=null">and shejishuoming like  concat('%',#{shejishuoming,jdbcType=VARCHAR},'%')</if>     <if test="shejishi!=null">and shejishi like  concat('%',#{shejishi,jdbcType=VARCHAR},'%')</if>     <if test="jiage1!=null">and jiage &gt;=  concat('',#{jiage1,jdbcType=VARCHAR},'')</if>     <if test="jiage2!=null">and jiage &lt;=  concat('',#{jiage2,jdbcType=VARCHAR},'')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shejizhanshi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shejizhanshi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shejizhanshi">
    insert into shejizhanshi (id, shejibianhao,shejimingcheng,mobanleixing,shejihuitu,shejishuoming,shejishi,jiage, addtime)
    values (#{id,jdbcType=INTEGER}, #{shejibianhao,jdbcType=VARCHAR},#{shejimingcheng,jdbcType=VARCHAR},#{mobanleixing,jdbcType=VARCHAR},#{shejihuitu,jdbcType=VARCHAR},#{shejishuoming,jdbcType=VARCHAR},#{shejishi,jdbcType=VARCHAR},#{jiage,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shejizhanshi">
    insert into shejizhanshi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shejibianhao != null"> shejibianhao, </if>      <if test="shejimingcheng != null"> shejimingcheng, </if>      <if test="mobanleixing != null"> mobanleixing, </if>      <if test="shejihuitu != null"> shejihuitu, </if>      <if test="shejishuoming != null"> shejishuoming, </if>      <if test="shejishi != null"> shejishi, </if>      <if test="jiage != null"> jiage, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shejibianhao != null"> #{shejibianhao,jdbcType=VARCHAR},</if>      <if test="shejimingcheng != null"> #{shejimingcheng,jdbcType=VARCHAR},</if>      <if test="mobanleixing != null"> #{mobanleixing,jdbcType=VARCHAR},</if>      <if test="shejihuitu != null"> #{shejihuitu,jdbcType=VARCHAR},</if>      <if test="shejishuoming != null"> #{shejishuoming,jdbcType=VARCHAR},</if>      <if test="shejishi != null"> #{shejishi,jdbcType=VARCHAR},</if>      <if test="jiage != null"> #{jiage,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shejizhanshi">
    update shejizhanshi
    <set>
	  <if test="shejibianhao != null"> shejibianhao = #{shejibianhao,jdbcType=VARCHAR},</if>      <if test="shejimingcheng != null"> shejimingcheng = #{shejimingcheng,jdbcType=VARCHAR},</if>      <if test="mobanleixing != null"> mobanleixing = #{mobanleixing,jdbcType=VARCHAR},</if>      <if test="shejihuitu != null"> shejihuitu = #{shejihuitu,jdbcType=VARCHAR},</if>      <if test="shejishuoming != null"> shejishuoming = #{shejishuoming,jdbcType=VARCHAR},</if>      <if test="shejishi != null"> shejishi = #{shejishi,jdbcType=VARCHAR},</if>      <if test="jiage != null"> jiage = #{jiage,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Shejizhanshi">
    update shejizhanshi
    set shejibianhao = #{shejibianhao,jdbcType=VARCHAR},shejimingcheng = #{shejimingcheng,jdbcType=VARCHAR},mobanleixing = #{mobanleixing,jdbcType=VARCHAR},shejihuitu = #{shejihuitu,jdbcType=VARCHAR},shejishuoming = #{shejishuoming,jdbcType=VARCHAR},shejishi = #{shejishi,jdbcType=VARCHAR},jiage = #{jiage,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
